.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 1em 3em;
    margin: 0.5em 0;
    width: 100%;
    list-style-type: none;
}
ul {
    width: 70%;
    padding-left: 0;
}
.delete {
    opacity: 0;
    transition: 0.4s;
    color: darkred;
    cursor: pointer;
}
.task:hover .delete {
    opacity: 1;
}